/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: brown;
}

.container-uno, 
.container-due {
    max-width: 80%;
    margin: auto;
}


.type-biglietto,
.type-biglietto-bottoni {
    background-color: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    margin-top: 39px;
}   

.type-stampa {
    background-color: white;
    padding: 30px;
    text-align: center;
    /* margin-top: 40px; */
}

.titolo-calcola {
    text-align: center;
    color: white;
    margin-top: 40px;
}

