* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(141, 86, 158);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ESERCIZIO BIGLIETTO DEL TRENO */
.box {
    max-width: 80%;
    margin: auto;
    padding: 10px;
    background-color: blanchedalmond;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.285);
    border: 1px solid rgb(193, 193, 193);
    text-align: center;
}


.biglietto {
    max-width: 80%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    display: none;
}

.open {
    display: block;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding-bottom: 20px;
}

h4 {
color:black;
padding-top: 15px;
}

.ticket, 
.ticketNome {
    padding: 25px;
    color: rgb(134, 134, 134);
    border: 1px solid black;
}

.ticketNome {
    background-color: rgb(226, 226, 226);
}

button {
    border-radius: 5px;
    border: none;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    padding: 6px;
    background: green;
}

.descritiva {
    color: green;
    padding-bottom: 5px;
}

.form {
    border: 1px solid green;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
}

.formLimite {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.areaForm {
    padding: 20px;
}

.ilTuo, 
.calcola {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
    padding-top: 20px;
}

.ok{
    background-color: rgb(25, 73, 83) ;
    height: 100vh;
    padding: 50px;
}
/* ESERCIZIO BIGLIETTO DEL TRENO */
